:root {
  --sfondo: #083b4c;
  --box-color: #1389b2;
  --fizz-color: #0cd6a1;
  --buzz-color: #ffd166;
  --fizzbuzz-color: #f0466f;
}

body {
  background-color: var(--sfondo);
  color: white;
}

h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: var(--box-color);
  width: 150px;
  height: 150px;
  color: black;
  margin: 10px;
}

.bg-fizz {
  background-color: var(--fizz-color);
}

.bg-buzz {
  background-color: var(--buzz-color);
}

.bg-fizzbuzz {
  background-color: var(--fizzbuzz-color);
}